$color_1: white;
$background-color_1: #4caf50;

.form_group {
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type='text'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.add_button {
  padding: 10px 20px;
  background-color: $background-color_1;
  color: $color_1;
  border: none;
  cursor: pointer;
}
